html {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

header[role=banner],
nav[role=navigation],
main[role=main],
footer[role=contentinfo] {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

header[role=banner] {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

header[role=banner] h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.slogan {
  margin-top: 0.5rem;
}

#logo {
  max-width: 7rem;
}

nav[role=navigation] {
  margin-top: 1rem;
  text-align: right;
}

main[role=main] {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

footer[role=contentinfo] {
  padding-top: 1rem;
  font-size: 80%;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

a[href].spaced {
  margin-left: 0.75rem;
}

a[href].spaced:first-of-type {
  margin-left: 0;
}

.buttonWrapper {
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.badges {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.badges li {
  display: inline-block;
  margin: 0 0.5rem;
}

.badges li:last-of-type {
  margin-right: 0;
}

.badge, .logo {
  height: 1.0rem;
  user-select: none;
  width: 1.0rem;
}

a[href] .logo {
  display: inline;
  margin-right: 0.5ex;
  vertical-align: middle;
}

footer[role=contentinfo] {
  text-align: right;
}

footer[role=contentinfo] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#profile, .location, .affiliations, .email {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1ex;
  padding-left: 1.5ex;
}

#profile { background-image: url("/user.svg"); }
.affiliations { background-image: url("/building.svg"); }
.location { background-image: url("/map-marker.svg"); }
.email { background-image: url("/envelope.svg"); }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

form {
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button[type=submit],
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=password],
textarea,
select {
  background: white;
  border-radius: 0.25rem;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

button, a[href].button {
  background: white;
  border-radius: 0.25rem;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
  transition: background-color 0.2s;
  transition: color 0.2s;
}

button:hover, a[href].button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.conspicuous {
  font-style: italic;
  font-weight: bold;
}

.urls {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.urls li {
  margin-bottom: 1em;
  margin-top: 1em;
}

.showcase {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 12rem);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.showcase > li {
  border-radius: 0.25rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.showcase > li > .project {
  font-size: 150%;
}

.showcase > li > a,
.showcase > li > span,
.showcase > li > ul {
  display: block;
  text-align: center;
  width: 100%;
}

h2 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.avatar {
  display: block;
}

.terms code {
  border: 1px dashed #777;
  color: #777;
  padding: 0 1ex;
}

.error {
  background: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 0.25rem;
  color: #a94442;
}

/* Customers/Supporters Lists */

.customers {
  align-content: space-around;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem 0;
  padding: 0;
}

.customers li {
  display: block;
  flex-basis: 7rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.customers li img {
  width: 100%;
}

.customers li .name {
  text-align: center;
  width: 100%;
}

.customers li .affiliations {
  text-align: center;
  width: 100%;
}
